<div class="mt-4" id="<%= dom_id entity %>">
  <div class="d-flex justify-content-between entity_card p-4 m-4">
    <p>
      <strong>Category</strong>
      <%= entity.name %>
    </p>
    <div>
      <strong><%= entity.amount %></strong>
    </div>
  </div>
</div>
