<div class="mt-4" id="<%= dom_id entity %>">
  <div class="d-flex justify-content-between entity_card p-4 m-4">
    <div>
      <p>Category <strong><%= entity.name %></strong> </p>
      <p class="created-at"><%= entity.created_at %></p>
    </div>
      <strong><%= entity.amount %></strong>
  </div>
</div>
