<head>
  <%= stylesheet_link_tag 'entities' %>
</head>

<div class="entities">
  <h1 class="text-dark text-center">Transactions</h1>

  <div class="d-flex justify-content-between entity_card p-4 m-4">
   <p> <strong>Total Sum</strong> </p>
    <p> <%= @entities_sum %> </p>
 </div>


  <div id="entities">
    <% @entities.each do |entity| %>
      <%= render entity %>
      <p>
        <% link_to "Show this entity", user_group_entities_path(current_user, @group) %>
      </p>
    <% end %>
  </div>

  <%= link_to "NEW TRANSACTION", new_user_group_entity_path(current_user, @group), class:"w-100 text-center bg-primary p-4 text-light text-decoration-none" %>
</div>
