<div class="container w-100">
  <h1>New Transaction</h1>

  <%= render "form", entity: @entity %>

  <br>

  <div>
    <%= link_to "Back to categories", user_groups_path(current_user) %>
  </div>
</div>
