
<%= render 'partials/navbarentities'  %>


<div class="container new_entity">
  <h1>New Transaction</h1>

  <%= render "form", entity: @entity %>

  <br>


    <%= link_to "Back to categories", user_groups_path(current_user), class:"text-light btn btn_back" %>

</div>
