  <% if user_signed_in? %>
<div class="menu-container2">
    <div class="menu-toggle">
      <a class="p-1" href="/" data-turbo-preload> <%= image_tag("arrow-left.svg", width:"140%")%> </a>
    </div>
     
    <div class="page_title text-light entities_title">
      <h3 class="entity-title">Transactions</h3>
    </div>
    <% end %>
</div>