<% if user_signed_in? %>
  <div class="menu-container2">
    <a class="" href="/" data-turbo-preload> <%= image_tag("arrow-left.svg", width:"190%")%> </a>
    <h3 class="cat-title">CATEGORIES</h3>
  </div>
<% end %>