<div id="<%= dom_id group %>">
  <div class="group-card">
    <div class="group">
      <img src="<%= group.icon %>" style="width: 15%" />
      <p class="group-p"><%= group.name %></p>
      <% sum = group.entities.sum(&:amount) %>
       <p class="group-p">  <%= sum %> </p>
    </div>
  </div>
</div>
