<div id="<%= dom_id group %>">
  <div class="w-100 mt-4 p-2">
    <div class="d-flex group p-4">
      <%= image_tag("person-circle.svg", width: "10%")  %>
      <p class="my-auto mx-5"><%= group.name %>, <%= group.user_id %></p>
    </div>
  </div>
</div>
