<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= link_to "Add Category", new_group_path(current_user) %>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group_path(group) %>
    </p>
  <% end %>
</div>

