 <% if user_signed_in? %>
      <%= render 'partials/navbar'  %>
    <% end  %>

<div class="categories" style="width:100%">

  <h3 class="mx-5">Add New Category</h3>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Back to groups", user_groups_path %>
  </div>
</div>
