<head>
  <%= stylesheet_link_tag 'categories' %>
</head>

<div class="categories" style="width:100%">
  <h1 class="text-center text-light">CATEGORIES</h1>

  <h3 class="mx-5">Add New Category</h3>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Back to groups", user_groups_path %>
  </div>
</div>
