/* stylelint-disable csstree/validator  */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree 
 *= require_self
 */

@import "bootstrap-icons/font/bootstrap-icons";

@font-face {
  font-family: "bootstrap-icons";
  src:
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

body {
  background-color: #eff2f1;
}

/* categories */
.categories {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eff2f1;
  margin-top: 15%;
}

.category_card_total {
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 8%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #eff2f1;
  padding: 2%;
  margin-top: -3%;
}

.group {
  background-color: white;
}

.btn-category {
  border: none;
}

.btn_submit {
  background-color: #5FB523;
}

/* entities */
.entities {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eff2f1;
  margin-top: 15%;
}

.entity_card_total {
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 8%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #eff2f1;
  padding: 2%;
  margin-top: -3%;
}

.entity_card {
  background-color: white;
}

.new_entity {
  margin-top: 10%;
}

.entity-title {
  margin-top: 5%
}

.new_entity_submit {
  margin: auto;
}

.btn_back {
  background-color: #3877C1;
}

/* login */
.login_nav {
  margin-top: -20%;
}

.login {
  padding-left: 30% !important;
}

.btn_login {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.devise_register_submit {
  position: fixed;
  top: 5%;
  z-index: 2;
}

.devise_login_session_btn {
  position: fixed;
  top: 5%;
  right: 2%;
}

/* navbar */
.menu-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
  background-color: #3877C1;
}

.menu-container2 {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
  background-color: #3877C1;
  height: 7%;
}

.menu {
  position: absolute;
  top: 95.5px;
  left: -19px;
  padding: 20px;
  display: none;
  z-index: 3;
  width: 60%;
}

.menu-toggle {
  background-color: #3877C1
}

.menu ul {
  list-style: none;
  height: 90vh !important;
}

.nav-item {
  width: 100px;
  text-align: center;
}

.menu-toggle {
  display: block;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
}

.active {
  display: block;
  background-color: #3877C1;
  z-index: 8;
}

.page_title {
  width: 50%;
  margin: auto;
}

.entities_title {
  margin-bottom: 10%;
}

.page_title h3 {
  text-align: center;
  padding-top: 5%;
  padding-right: 10%;
}

/* static */
.static {
  height: 80vh;
}


