.categories {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EFF2F1;
}

.group {
  border: 1px solid gray;
  background-color: white;
}

.btn-category {
  border: none;
}