.categories {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories h1 {
  margin-top: -30%;
  margin-bottom: 15%;
}

.categories h3 {
  margin-top: -45%;
}

.group {
  border: 1px solid gray;
}

#groups {
  margin-top: -37%;
}

.create-group {
  margin-top: -37%; ;
}

.btn-category {
  border: none;

}