.entities {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  #entities {
    margin-top: -25%;
  }

  .entity_card {
    border: 1px solid gray;
  }