.login_nav {
  margin-top: -20%;
}

.login {
  padding-left: 30% !important;
}

.btn_login {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.devise_register_submit {
  position: fixed;
  top: 5%;
}

.devise_login_session_btn {
  position: fixed;
  top: 5%;
  right: 2%;
}