.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 35.5px;
  left: -19px;
  padding: 20px;
  display: none;
  z-index: 3;
  width: 60%;
}

.menu ul {
  list-style: none;
  height: 90vh !important;
}

.nav-item {
  width: 100px;
  text-align: center;
}

.menu-toggle {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.active {
  display: block;
}

.page_title {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  margin: auto;
}

.page_title h3 {
  text-align: center;
  padding-top: 5%;
  padding-right: 10%;
}